---
title: No Relation To Blog
author: Emmanuel Bernard
layout: blog
tab: blog
---
- for post in page.posts
  .blogpost
    %h2
      %a{:href=>post.url}= post.title
    .blogtagbar
      #{post.date.strftime( '%Y-%m-%d' )}
      &nbsp;|&nbsp;
      = page.flattr_compact_counter(:url=>"http://emmanuelbernard.com" + post.url, 
                                    :title=>post.title, 
                                    :tags=>post.tags.join(',')) 
      &nbsp;|&nbsp;
      - post.tags.each do |tag|
        %a.label{:href=>tag.primary_page.url}
          = tag
        &nbsp;
    %p
      ~ post.content
    .disqus-short
      = post.disqus_comments_link
    %hr
= page.posts.links