!!!5
%html
  %head
    %meta{ :'http-equiv'=>"content-type", :content=>"text/html; charset=utf-8" }
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %title
      #{site.title}: #{page.title}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/styles.css' }
    %link{ :href=>'/blog/feed.atom', :rel=>'alternate', :type=>'application/atom+xml'}/
    %script{ :src=>'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', :type=>'text/javascript'}
    %script{ :type=>'text/javascript', :src=>'/javascripts/bootstrap-collapse.js' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .navbar.navbar-refine
      .navbar-inner
        .container
          %a.btn.btn-navbar{:data=>{:toggle=>'collapse', :target=>'.nav-collapse'}}
            %span.menu-button Menu
          %a.brand{ :href=>'/' }Emmanuel Bernard
          .nav-collapse
            %ul.nav
              %li{:class=>(page.tab == 'home' ? 'active' : nil)}
                %a{ :href=>'/' } Home
              %li{:class=>(page.tab == 'projects' ? 'active' : nil)}
                %a{ :href=>'/projects/' } Projects
              %li{:class=>(page.tab == 'books' ? 'active' : nil)}
                %a{ :href=>'/books/hsia/' } Book
              %li{:class=>(page.tab == 'blog' ? 'active' : nil)}
                %a{ :href=>'/blog/' } Blog
            %ul.nav.pull-right
              %li
                %a{:href=>'/blog/feed.atom'}
                  %img{:src=>'/images/services/rss_16.png'}
            :javascript
              function get_results()
              {
                location.href = "/results/?q=" + escape(document.searchbox.query.value);
                return false;
              }
            %form.navbar-search.pull-right{:name=>'searchbox', :onsubmit=>"return get_results();;"}
              %input#query.search-query{:name=>'query', :type=>'text'}
    .container
      ~ content

    %hr
    %footer
      %p#footer
        - year = Time.now.year
        Copyright 2007-#{year} Emmanuel Bernard -
        %a{:href=>'/readme/'} Acknowledgments


  = google_analytics
  = page.flattr_javascript